  <mat-expansion-panel [expanded]="this.filteredReservations.length > 0" class="mat-elevation-z18">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{this.table.name}}
      </mat-panel-title>
      <mat-panel-description>
         {{this.table.maxSeats}} seats
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="reservation-container"></div>
    <h4 *ngIf="this.table.reservations.length == 0">No reservations</h4>
    <app-reservation *ngFor="let reservation of this.filteredReservations"
      [reservation]="reservation"
      [maxSeats]="this.table.maxSeats"
      (reservationRemoveEvent)="removeReservation($event)"
      >

    </app-reservation>
  </mat-expansion-panel>
