.sidebar-container {
  width: 100%;
  height: 100vh;
  background-color: #181d23;
  box-shadow: inset 10px 0px 25px rgba(0, 0, 0, 0.253);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

button {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spacer {
  flex-grow: 1;
}

.add-button {
  margin-bottom: 30px;
}
