<div class="sidebar-container">
  <button mat-raised-button  [routerLink]="['/tables']" [disabled]="this.router.url === '/tables'" class="mat-elevation-z2" color="primary">Tables</button>
  <button mat-raised-button  [routerLink]="['/settings']" [disabled]="this.router.url === '/settings'" class="mat-elevation-z2" color="primary">Settings</button>
  <div class="spacer"></div>
  <p>{{this.calculateTotalSeats()}} Seats on {{this.tables.length}} Tables</p>
  <button mat-raised-button (click)="openDialog()" class="mat-elevation-z2 add-button" color="primary">New Reservation</button>
</div>
