<h1>
  Tables
</h1>
<div class="module">

    <app-table-small
    (updateTableEvent)="updateTable($event)"
    (deleteTableEvent)="deleteTable($event)"
    *ngFor="let table of tables"
    [table]="table">
  </app-table-small>
  <div class="add-table">
    <div class="card-container">
      <form class="example-form">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Table Name" [(ngModel)]="tableName" name="tablename">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Places</mat-label>
          <input matInput type="number" placeholder="Table chairs" [(ngModel)]="tableMaxSeats" name="tableseats">
        </mat-form-field>
      </form>
      <button mat-raised-button  class="mat-elevation-z2" (click)="addTable()" color="primary">Add New Table</button>
    </div>
  </div>
</div>
<h1>
  Working Time
</h1>
<div *ngIf="workTime.Monday" class="module">
  <div class="workdays">

    <!-- Monday -->

    <mat-checkbox class="example-margin" [(ngModel)]="workTime.Monday.isWorking">Monday</mat-checkbox>
  <div class="time-select" *ngIf="workTime.Monday.isWorking">

    <mat-form-field appearance="fill">
      <mat-select [(value)]="workTime.Monday.startHour">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Monday.startMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>&nbsp;&nbsp;to&nbsp;&nbsp;</p>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="workTime.Monday.endHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Monday.endMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>


  <!-- Tuesday -->

  <mat-checkbox class="example-margin" [(ngModel)]="workTime.Tuesday.isWorking">Tuesday</mat-checkbox>
  <div class="time-select" *ngIf="workTime.Tuesday.isWorking">

    <mat-form-field appearance="fill">
      <mat-select [(value)]="workTime.Tuesday.startHour">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Tuesday.startMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>&nbsp;&nbsp;to&nbsp;&nbsp;</p>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="workTime.Tuesday.endHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Tuesday.endMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

      <!-- Wednesday -->

  <mat-checkbox class="example-margin" [(ngModel)]="workTime.Wednesday.isWorking">Wednesday</mat-checkbox>
  <div class="time-select" *ngIf="workTime.Wednesday.isWorking">

    <mat-form-field appearance="fill">
      <mat-select [(value)]="workTime.Wednesday.startHour">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Wednesday.startMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>&nbsp;&nbsp;to&nbsp;&nbsp;</p>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="workTime.Wednesday.endHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Wednesday.endMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <!-- Thursday -->

  <mat-checkbox class="example-margin" [(ngModel)]="workTime.Thursday.isWorking">Thursday</mat-checkbox>
  <div class="time-select" *ngIf="workTime.Thursday.isWorking">

    <mat-form-field appearance="fill">
      <mat-select [(value)]="workTime.Thursday.startHour">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Thursday.startMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>&nbsp;&nbsp;to&nbsp;&nbsp;</p>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="workTime.Thursday.endHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select  [(value)]="workTime.Thursday.endMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

   <!-- Friday -->

   <mat-checkbox class="example-margin" [(ngModel)]="workTime.Friday.isWorking">Friday</mat-checkbox>
   <div class="time-select" *ngIf="workTime.Friday.isWorking">

     <mat-form-field appearance="fill">
       <mat-select [(value)]="workTime.Friday.startHour">
         <mat-option *ngFor="let hour of hours" [value]="hour">
           {{hour}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       <mat-form-field appearance="fill">
         <mat-select  [(value)]="workTime.Friday.startMinute">
           <mat-option *ngFor="let minute of minutes" [value]="minute">
             {{minute}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       <p>&nbsp;&nbsp;to&nbsp;&nbsp;</p>
       <mat-form-field appearance="fill">
         <mat-select [(value)]="workTime.Friday.endHour">
           <mat-option *ngFor="let hour of hours" [value]="hour">
             {{hour}}
           </mat-option>
         </mat-select>
       </mat-form-field>
       <mat-form-field appearance="fill">
         <mat-select  [(value)]="workTime.Friday.endMinute">
           <mat-option *ngFor="let minute of minutes" [value]="minute">
             {{minute}}
           </mat-option>
         </mat-select>
       </mat-form-field>
   </div>

      <!-- Saturday -->

      <mat-checkbox class="example-margin" [(ngModel)]="workTime.Saturday.isWorking">Saturday</mat-checkbox>
      <div class="time-select" *ngIf="workTime.Saturday.isWorking">

        <mat-form-field appearance="fill">
          <mat-select [(value)]="workTime.Saturday.startHour">
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{hour}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-select  [(value)]="workTime.Saturday.startMinute">
              <mat-option *ngFor="let minute of minutes" [value]="minute">
                {{minute}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>&nbsp;&nbsp;to&nbsp;&nbsp;</p>
          <mat-form-field appearance="fill">
            <mat-select [(value)]="workTime.Saturday.endHour">
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-select  [(value)]="workTime.Saturday.endMinute">
              <mat-option *ngFor="let minute of minutes" [value]="minute">
                {{minute}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>



         <!-- Sunday -->

         <mat-checkbox class="example-margin" [(ngModel)]="workTime.Sunday.isWorking">Sunday</mat-checkbox>
         <div class="time-select" *ngIf="workTime.Sunday.isWorking">

           <mat-form-field appearance="fill">
             <mat-select [(value)]="workTime.Sunday.startHour">
               <mat-option *ngFor="let hour of hours" [value]="hour">
                 {{hour}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
             <mat-form-field appearance="fill">
               <mat-select  [(value)]="workTime.Sunday.startMinute">
                 <mat-option *ngFor="let minute of minutes" [value]="minute">
                   {{minute}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
             <p>&nbsp;&nbsp;to&nbsp;&nbsp;</p>
             <mat-form-field appearance="fill">
               <mat-select [(value)]="workTime.Sunday.endHour">
                 <mat-option *ngFor="let hour of hours" [value]="hour">
                   {{hour}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
             <mat-form-field appearance="fill">
               <mat-select  [(value)]="workTime.Sunday.endMinute">
                 <mat-option *ngFor="let minute of minutes" [value]="minute">
                   {{minute}}
                 </mat-option>
               </mat-select>
             </mat-form-field>
         </div>


         <button mat-raised-button  class="mat-elevation-z2 save-button" (click)="updateWorkingTime()" color="primary">Save</button>
</div>
</div>


