
.card-container {
  display: flex;
}

.workdays {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.time-select {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-form-field {
  width: 80px;
  margin: 5px;
}

.full-width {
  width: 300px;
}
mat-checkbox {
  margin-bottom: 10px;
}

button {
  margin: 10px;
}


.module {
  margin-left: 100px;
  margin-bottom: 50px;
}

.save-button {
  width: 400px;
}
