<mat-card>
  <div class="card-container">
    <form class="example-form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Table Name" [(ngModel)]="table.name" name="tablename">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Places</mat-label>
        <input matInput type="number" placeholder="Table chairs" [(ngModel)]="table.maxSeats" name="tableseats">
      </mat-form-field>
      </form>
      <button mat-raised-button  class="mat-elevation-z2" (click)="this.updateTable()" color="primary">Update</button>
      <button mat-raised-button  class="mat-elevation-z2" (click)="this.deleteTable()" color="primary">Delete</button>
  </div>
</mat-card>

