@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet');
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  /* background: linear-gradient(#48b985,#45ec83); */
  background: linear-gradient(to bottom right, #2d3641, #2f3842,#121e29);
  color:white
}


.mat-dialog-container {
  padding: 0px !important;
  border-radius: 15px !important;
  background-color: #465362 !important;
}



mat-expansion-panel , mat-card {
  border-radius: 15px !important;
  margin: 10px !important;
  background-color: #465362 !important;
  color: white !important;
  width: 350px !important
}

mat-panel-title {
  font-size: 20px
}

.mat-expansion-panel-body {
  max-height: 500px !important;
  overflow: auto !important;
}

.mat-expansion-panel-header-title {
  color: white !important
}
.mat-expansion-panel-header-description {
  color: rgba(255, 255, 255, 0.377)
}

p {
  margin: 0
}

*, .mat-typography h1, .mat-typography h2, .mat-typography h3, .mat-typography h4 {
  font-family: 'Poppins'
}

label, mat-label {
  color: white !important
}

input::placeholder{
  color: rgba(255, 255, 255, 0.329) !important
}

.mat-select-value {
  color: white !important
}

.mat-select-arrow {
  color: rgba(255, 255, 255, 0.329) !important
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.329) !important
}

.mat-content {
  overflow: visible !important;
}


.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-select-disabled {
color: rgba(255, 255, 255, 0.342) !important
}

button {
  background-color:#37404e;
  border: none;
  border-radius: 5px;
  min-height: 30px;
  padding: 8px;
  color: white;
}

button:hover {
  color: white;
  background:#181d23;
}

button:disabled {
  color: rgba(255, 255, 255, 0.514);
  background: grey;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height:5px;
}
::-webkit-scrollbar-track {
  background:rgba(238, 238, 238, 0.1);
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  background:#37404e;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#181d23;
}
