.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.router {
  width: 80%;
  margin:20px;
}


.sidebar {
  width: 20%;
  flex-grow: 2;
}

app-sidebar {
  width: 20%;
  flex-grow: 2;
  position: fixed;
}
