.transparent {
  opacity: 0.2
}

.chairs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.chair {
  margin: 5px;
}

.container {
  margin-bottom: 15px;
  border-color: rgba(255, 255, 255, 0.14);
  border-style: solid ;
  border-width: 2px;
  border-radius: 8px;
  padding: 5px;
}
