<div class="container">

  <p>{{date}}, {{reservation.numberOfClients}} seats, {{reservation.name}} </p>
  <div class="chairs">
    <img  class="chair" *ngFor="let chair of occupiedSeats" src="assets/chair.png" width="20">
    <img  class="chair transparent" *ngFor="let chair of freeSeats" src="assets/chair.png" width="20" >
  </div>
  <button type="button" mat-raised-button  (click)="this.removeReservation()" color="primary">Remove</button>
</div>
