<h1 *ngIf="this.tables.length == 0">No tables. Go to Settings to add Tables.</h1>
<div class="table-columns">

  <div class="table-container">
    <app-table
    *ngFor="let table of this.tables.slice(0, this.tables.length/2)" [table]="table"
    (reservationAddEvent)="this.sendReservation($event)"
    (reservationRemoveEvent)="this.removeReservation($event)"
    ></app-table>
  </div>
  <div class="table-container">
    <app-table
    *ngFor="let table of this.tables.slice(this.tables.length/2, this.tables.length)" [table]="table"
    (reservationAddEvent)="this.sendReservation($event)"
    (reservationRemoveEvent)="this.removeReservation($event)"
    ></app-table>
  </div>
</div>
