.table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start
}

.table-columns {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}
