<div class="container">
  <p>New Reservation</p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(formControl)]="selectedName">
    <mat-error *ngIf="selectedName.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput disabled [matDatepicker]="picker3" [matDatepickerFilter]="dateFilter" [formControl]="this.date" (dateChange)="dateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker disabled="false" #picker3></mat-datepicker>
  </mat-form-field>

  <div class="date" *ngIf="selectedDate && selectedDate.isWorking">
    <mat-form-field appearance="fill" class="short">
      <mat-label>Hour</mat-label>
      <mat-select [(value)]="selectedHour" (valueChange)="hourChanged($event)">
        <mat-option *ngFor="let hour of workingHours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="short">
      <mat-label>Minute</mat-label>
      <mat-select  [(value)]="selectedMinute">
        <mat-option *ngFor="let minute of workingMinutes" [value]="minute">
          {{minute}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <mat-form-field appearance="fill">
    <mat-label>People</mat-label>
    <mat-select [(value)]="selectedPeople" (valueChange)="peopleChanged($event)">
      <mat-option *ngFor="let seat of seats" [value]="seat">
        {{seat}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Table</mat-label>
    <mat-select  [(value)]="selectedTable">
      <mat-option *ngFor="let table of availableTables" [value]="table" [disabled]="!this.checkTableIsAvailAtTime(table).result">
        <span *ngIf="this.checkTableIsAvailAtTime(table).result">{{table.name}} {{table.maxSeats}} seats</span>
        <span *ngIf="!this.checkTableIsAvailAtTime(table).result">{{table.name}} {{table.maxSeats}} seats, booked for {{this.checkTableIsAvailAtTime(table).conflictedReservationTime}} </span>
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button type="button" mat-raised-button [disabled]="selectedName.invalid || !selectedHour || !selectedMinute || !selectedPeople || !selectedTable" class="mat-elevation-z2" (click)="this.sendReservation()" color="primary">Add Reservation</button>

</div>
