.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 80%;
}

.short {
  width: 50%;
}

.date {
  display: flex;
  flex-direction: row;
  width: 80%;
}
